<div class="about-container">
  <div class="profile-pic">
    <img src="assets/profile.jpg" alt="Profile Picture" />
    <div class="skills-list">
      <span>AI/ML</span>
      <span>DSA</span>
      <span>Java</span>
      <span>Angular</span>
      <span>React</span>
      <span>Spring Boot</span>
      <span>Python</span>
      <span>Flask</span>
      <span>Pega</span>
      <span>SQL</span>
      <span>Selenium</span>
      <span>HTML\CSS</span>
      
    </div>
  </div>
  <div class="about-text">
    <h2>About Me</h2>
    <p>
      I'm a Full-Stack Developer with 2 years of hands-on experience building secure, scalable, and user-friendly web applications. Proficient in modern technologies like React.js, Next.js, Angular, Flask, and Node.js, I bring strong backend and frontend expertise backed by a solid foundation in Java, Python, and SQL.

Previously at Pegasystems, I contributed to enterprise solutions by developing reusable components, optimizing performance, and automating testing for high-impact features. My portfolio includes projects like Eduverse, a collaborative platform for graduate students, and TrackItHackIt, a financial tracker that improved user budgeting by up to 30%.

I hold a Master’s degree in Computer Science from the University of Texas at Arlington, and I’m passionate about delivering impactful digital experiences through clean code and thoughtful design.
    </p>
  </div>
</div>
