<section class="coding-section">
  <h2 class="section-title">Coding Profiles</h2>
  <div class="coding-tiles">
    <div class="tile" onclick="window.open('https://leetcode.com/u/17211A0513/', '_blank')">
      <img src="assets/leetcode.png" alt="LeetCode" />
      <p>LeetCode</p>
    </div>
    <div class="tile" onclick="window.open('https://www.interviewbit.com/profile/raviraja19072000_38b2e22cb88f/', '_blank')">
      <img src="assets/interviewbit.png" alt="GeeksforGeeks" />
      <p>Interviewbit</p>
    </div>
    <div class="tile" onclick="window.open('https://www.hackerrank.com/profile/ankireddygurusa1', '_blank')">
      <img src="assets/hackerrank.png" alt="HackerRank" />
      <p>HackerRank</p>
    </div>
  </div>
</section>
