<section class="contact-section">
  <h2 class="section-title">Contact Me</h2>

  <div class="contact-info">
    <div class="contact-item">
      <img src="assets/email.jpg" alt="Email Icon" />
      <p>ankireddy.raviraja"&#64;"gmail.com</p>
    </div>

    <div class="contact-item">
      <img src="assets/call.png" alt="Phone Icon" />
      <p>+1 (737) 309-8144</p>
    </div>

    <div class="contact-item">
      <img src="assets/location.jpg" alt="Location Icon" />
      <p>Arlington, Texas, USA</p>
    </div>
  </div>

  
</section>
