<section id="skills" class="skills-section">
  <h2>Skills</h2>
  <div class="skills-container">

    <div class="skill-category">
      <h3>Technologies</h3>
      <div class="skill-logos">
        <img src="assets/html.png" alt="HTML">
        <img src="assets/css.png" alt="CSS">
        <img src="assets/javascript.png" alt="JavaScript">
        <img src="assets/angular.png" alt="Angular">
        <img src="assets/react.png" alt="React">
        <img src="assets/nodejs.png" alt="Node.js">
        <img src="assets/springboot.png" alt="Node.js">
      </div>
    </div>

    <div class="skill-category">
      <h3>Programming Languages</h3>
      <div class="skill-logos">
        <img src="assets/java.png" alt="Java">
        <img src="assets/python.png" alt="Python">
        <img src="assets/c++.png" alt="C++">
        <img src="assets/c.png" alt="C">
      </div>
    </div>

    <div class="skill-category">
      <h3>Tools & Platforms</h3>
      <div class="skill-logos">
       <img src="assets/pega.png" alt="Pega">
        <img src="assets/sql.png" alt="MySQL">
        <img src="assets/postgresql.png" alt="PostgreSQL">
        <img src="assets/git.png" alt="GIT">
        
      </div>
    </div>
    <div class="skill-category">
      <h3>Testing Tools </h3>
      <div class="skill-logos">
        <img src="assets/selenium.png" alt="Selenium">
        <img src="assets/testng.png" alt="TestNG">
        <img src="assets/junit.png" alt="Junit">
        <img src="assets/pytest.png" alt="Pytest">
        
      </div>
    </div>

  </div>
</section>
