<section class="certificates-section">
  <h2>Certificates</h2>
  <div class="certificates-grid">
    <div class="certificate-tile" (click)="openLink('https://www.credly.com/badges/64cc3f2d-fb24-4cf0-93a6-7bdb041de364/public_url')">
      <img src="assets/ocj.png" alt="Certificate 1">
      <p>Java8</p>
    </div>
    <div class="certificate-tile" (click)="openLink('https://academy.pega.com/verify-certification?email=17211A0513%40BVRIT.AC.in')">
      <img src="assets/csa.png" alt="Certificate 2">
      <p>Pega CSA</p>
    </div>
    <div class="certificate-tile" (click)="openLink('https://academy.pega.com/verify-certification?email=17211A0513%40BVRIT.AC.in')">
      <img src="assets/cssa.png" alt="Certificate 3">
      <p>Pega CSSA</p>
    </div>
  </div>
</section>
